
<p>
  <h2><%= @beer_club.name %></h2>
  
</p>

<p>
  Founded:
  <%= @beer_club.founded %>,
  City:
  <%= @beer_club.city %>
</p>

<p>
	<% if @beer_club.memberships.empty? %>
	<strong>Club has no members yet</strong>
	<% else %>
	<strong><%="Member".pluralize(@beer_club.memberships.count) %></strong>
	<ul>
		<% @beer_club.memberships.each do |member| %>
		<li>		
			<%= member.user.username %>
		</li>
			<% end %>
	</ul>
	<% end %>
</p>
<p>
	
	<strong>Outstanding applications</strong>
	<ul>
		<% @memberships.where(beer_club_id: @beer_club.id).where(confirmed: [false, nil]).each do |membership| %>
		<li>			
			<%= link_to membership.user.username, user_path(membership.user_id) %>
			<% if @beer_club.members.find_by(id: current_user.id) %>
          		<%= link_to "confirm", toggle_confirmation_membership_path(membership.id), method: :post, class:"btn btn-primary btn-sm"%>
        	<% end %>
		</li>
		<% end %>
	</ul>
	
</p>

<% if current_user %>
<% if @membership.beer_club.members.exclude?(current_user) && @memberships.where(user_id: current_user.id).where(beer_club_id: @beer_club.id).empty? %>
 <%= form_for(@membership) do |f| %>
    <%= f.hidden_field :beer_club_id %>
    <%= f.submit value:"join the club" %>
 <% end %>
 <% else %>
 <% @membership = current_user.memberships.find{ |m| m.beer_club == @beer_club} %>
 <%= form_for(@membership, method: "delete") do |f| %>
      <%= f.hidden_field :beer_club_id %>
      <%= f.submit value: "end the membership" %>
   <% end %>
   <% end %>
<% end %>

<%= edit_and_destroy_buttons(@beer_club) %>
