<h2>
  <%= @user.username %>
  <% if @user.banned? %>
  <span class="label label-info">Account frozen</span>
  <% end %>
</h2>

<p>
 <% if @user.ratings.empty? %>
  User has not rated beers yet
  <% else %>
  	Has made <%= pluralize(@user.ratings.count,'rating') %>, average <%= round(@user.average_rating) %>
  	<p>Favorite style <%= @user.favorite_style.name %></p>
  	<p>Favorite brewery <%= @user.favorite_brewery.name %></p>
  <% end %>
 </p>

<p>
 <% if @user.memberships.empty? %>
  User is not in any clubs
  <% else %>
  	Is member in<% @user.memberships.each do |membership| %>, <%= link_to membership.beer_club.name, beer_clubs_path %>
  	<% end %>
  <% end %>
 </p>

<strong>ratings</strong>
  <ul>
 	<% @user.ratings.each do |rating| %>
   		<li> 
   			<%= rating.to_s %> 
   			<% if @user == current_user %>
   				<%= link_to 'Delete', rating, method: :delete, data: { confirm: 'Are you sure?'} %>
   			<% end %>
   		</li>
 	<% end %>
</ul>

<% if @user == current_user %>
<%= link_to 'Edit', edit_user_path(@user) %> 
<%= link_to 'Destroy', current_user, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
<br>
<% if admin_user %>
<% freeze_or_reactive = @user.banned ? "Reactive account" : "Freeze account" %>
<%= link_to freeze_or_reactive, toggle_banned_user_path(@user.id), method: :post, class: "btn btn-danger" %>
<% end %>
